<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button >Editar<ion-icon slot="end" name="pencil-outline"></ion-icon><!--pencil-outline--></ion-button>
  </ion-buttons>
  <ion-title>Volver</ion-title>
</ion-toolbar>
<ion-content>
  <ion-icon class="prueba" name="person-circle-outline"></ion-icon><!--Mejorar el centrado del icono-->
  <ion-item>
    <ion-label>
      <h1>Nombre</h1>
      <p>Paragraph</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Apellido</h1>
      <p>Paragraph</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Email</h1>
      <p>Paragraph</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Contraseña</h1>
      <p>Paragraph</p>
    </ion-label>
  </ion-item>
  
    
      <ion-button class="centro" fill="solid" color="danger"><ion-icon name="trash-outline" size="large"></ion-icon> Eliminar usuario </ion-button>
    
  
</ion-content>
