<div class="background-image">
  <ion-card color="light">
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button default-href="volver()" (click)="volver()"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <img alt="Logo Duoc Uc" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"/>
    <ion-card-content>
      <div class="btn-container">
        <ion-button (click)="recuperarContrasenia()" class="iniciar-sesion" fill="solid" style="width: 100%;">Recuperar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>

