<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon (click)="close()" style="font-size: 25px;" slot="end" name="close-outline"></ion-icon>
    <ion-title>resulQr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <h3>nombre: {{dataAsistencia.asignatura}}</h3>
    <h3>Apellido: {{dataAsistencia.seccion}}</h3>
    <h3>Asignatura: {{dataAsistencia.docente}}</h3>
    <h3>nombre: {{dataAsistencia.sala}}</h3>
    <h3>Apellido: {{dataAsistencia.fecha}}</h3>
    <h3>Asignatura: {{dataAsistencia.hora}}</h3>
    <h3>Asignatura: {{dataAsistencia.leccion}}</h3>
    <ion-button (click)="registrarAsistencia()" class="centro" fill="solid" color="success" ><ion-icon name="checkmark-outline" size="large"></ion-icon> Registrar </ion-button>
  </ion-card>
</ion-content>
<!--
{
  "asignatura": "ENG4567",
  "seccion": "001D",
  "docente": "Carlos Fernández",
  "sala": "Aula 205",
  "fecha": "24-09-2023",
  "hora": "10:45",
  "leccion": "Inglés Avanzado"
}
-->