<div class="background-image">
  <ion-card color="light">
    <img alt="Logo Duoc Uc" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"/>
    <ion-grid>
      <ion-buttons size="small" (click)="volver()">
        <ion-button size="small">
          <ion-icon color="medium" slot="icon-only" name="arrow-back-outline" size="small"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-grid>
    <ion-card-content>
      <ion-item color="light">
          <ion-input  [(ngModel)]="email" label="Correo" type="email" labelPlacement="floating" placeholder="{{email}}" maxlength="256"></ion-input>
      </ion-item>
      <div class="btn-container">
        <ion-button (click)="resetPassword()" class="iniciar-sesion" fill="solid" style="width: 100%;">Recuperar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>

