<ion-content [fullscreen]="false" color="light">
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button default-href="volver()" (click)="volver()"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="container">
      <ion-icon class="prueba" name="person-circle-outline"></ion-icon>
    </div>
    <ion-item color="light">
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" [clearInput]="true" placeholder="Ingrese el nombre"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" [clearInput]="true" placeholder="Ingrese el apellido"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item color="light">
        <ion-label position="stacked">Seleccione Region</ion-label>        
        <ion-select (ionChange)="cargarComuna()" placeholder="{{region}}" [(ngModel)]="regionSel">
          <ion-select-option [value]="r.id" *ngFor="let r of regiones">{{r.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
    <ion-list >
      <ion-item color="light">
        <ion-label position="stacked">Seleccione Comuna</ion-label>        
        <ion-select  placeholder="{{comuna}}" [(ngModel)]="comunaSel">
          <ion-select-option [value]="r.id" *ngFor="let r of comunas">{{r.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>




    <ion-button (click)="actualizar()" class="centro" fill="solid" color="success"><ion-icon name="trash-outline" size="large"></ion-icon> Actualizar usuario </ion-button>
</ion-content>