h1{
    text-align: center;
}
p{
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.prueba{
    font-size: 15rem;
}
.centro{
    display: grid;
  place-items: center;
}
.loading-state, .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
ion-toolbar {
  --opacity: 0.5;
}