<div class="background-image">
  <ion-card color="light">
    <img class="logo" alt="Logo Duoc Uc" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"/>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked"><h1>Iniciar sesión</h1></ion-label>
        <ion-input [(ngModel)]="email"  type="email" color="medium" placeholder="correo@duocuc.cl" maxlength="256"></ion-input>
      </ion-item>

      <ion-item >
        <ion-input [(ngModel)]="contrasenia" label="Contraseña" labelPlacement="floating" type="password" [counter]="true" maxlength="20"></ion-input>
      </ion-item>
      <div class="btn-container">
        <ion-button (click)="login()" class="iniciar-sesion" fill="solid">Iniciar sesión</ion-button>
        <ion-button (click)="recuperar()" fill="clear" size ="small">¿olvidaste tu contraseña?</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>