<div class="background-image">

  <ion-card color="light">
    <ion-toolbar color="light">
      <ion-buttons slot="primary">
        <ion-button (click)="perfil()"><ion-icon slot="end" name="person-outline" size="large"></ion-icon><!--pencil-outline--></ion-button>
      </ion-buttons>
    </ion-toolbar>
    <img alt="Logo Duoc Uc" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"/>
    <ion-card-content>
      <p style="text-align: center;">{{ getMensajeBienvenida() }}</p>
      <ion-button (click)="leerQr()" fill="solid" style="width: 100%;">ESCANEAR ASISTENCIA</ion-button>
      <ion-button (click)="verasistencia()" fill="solid" style="width: 100%;">VER ASISTENCIA</ion-button>
      <ion-button (click)="cerrarSesion()" color="danger" fill="solid" style="width: 100%;">CERRAR SESION</ion-button>
    </ion-card-content>
  </ion-card>
</div>