<ion-header>
  <ion-toolbar>
    <ion-title>Registro historico asistencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card color="light">
    <img alt="Logo Duoc Uc" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"/>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h1>Asignatura</h1>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>Fecha</h1>
        </ion-label>
      </ion-item>
      <ion-button (click)="volver()" fill="solid">Volver</ion-button>

      
    </ion-card-content>
  </ion-card>
</ion-content>
<!--tomichupa-->
