<div class="background-image">
  <ion-card color="light">
    <img class="logo" alt="Logo Duoc Uc" src="../../../../../assets/img/Logo_DuocUC.png"/>
    <ion-card-content>
      <ion-grid>
        <ion-buttons size="small" (click)="volver()">
          <ion-button size="small">
            <ion-icon color="medium" slot="icon-only" name="arrow-back-outline" size="small"></ion-icon>
          </ion-button>
          <ion-label color="medium" >{{ getMensajeBienvenida() }}</ion-label>
        </ion-buttons>
      </ion-grid>
      <ion-item>
        <ion-label position="stacked"><b>Escribir contraseña</b></ion-label>
        <ion-input [(ngModel)]="contrasenia"  type="password" color="medium" placeholder="*********" maxlength="20"></ion-input>
      </ion-item>
      <ion-button (click)="recuperar()" fill="clear" size ="small">He olvidado mi contraseña</ion-button>
      <div class="btn-container">
        <ion-button (click)="login()" class="iniciar-sesion" fill="solid">Iniciar sesión</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
