<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="perfil/visualizar">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-tab-button>
    <ion-tab-button tab="leer-qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      Leer Qr
    </ion-tab-button>
    <ion-tab-button tab="asistencia/visualizar">
      <ion-icon name="calendar-outline"></ion-icon>
      Ver Asistencia
    </ion-tab-button>
    <ion-tab-button (click)="location()">
      <ion-icon name="locate-outline"></ion-icon>
      Geolocalización
    </ion-tab-button>
    <ion-tab-button (click)="cerrarSesion()">
      <ion-icon name="exit-outline"></ion-icon>
      Cerrar Sesión
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>