body{
    margin: 0;
}
.logo{
    background-color: #3498db;
    background: url('../imgs/logo.png') no-repeat center center fixed; 
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir todo el contenido del div */
    height: 100vh; /* Asegura que el div ocupe al menos el 100% de la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-size: 5rem;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}
.pagina{
    background: url('../imgs/home.png') no-repeat center center fixed; 
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir todo el contenido del div */
    height: 100vh; /* Asegura que el div ocupe al menos el 100% de la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.qr{
    height: 300px;
    width: 300px;
}



